/Startup*.log
/Startup.log
/target
/.project
/.settings
/.classpath
*.iml
.idea/
/*/Startup.log
/*/Startup*.log
/*/Startup.log
/*/target
/*/.project
/*/.settings
/*/.classpath
/*/*.iml
/*/.idea/
*.log
jars/
/.DS_Store

/**/rebel.xml
